.btn{
  border: none;
  background: none;
  height: 40px;
  box-sizing: border-box;
  cursor: pointer;
}
.header__btn-basket{
  position: relative;
  padding: 3px;
  box-sizing: border-box;
}
.btn-add{
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 4px;
  background: #744978;
  color: #F8FDFE;

  &:hover{
    color: #F8FDFE;
    background: #4C394E;
  }
}
.btn-end{
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 4px;
  background: #6DB236;
  color: #F8FDFE;

  &:hover{
    color: #F8FDFE;
    background: #4D762D;
  }
}
.btn-chat{
  position: fixed;
  bottom: 120px;
  right: 28px;
  padding: 6px;
  width: 64px;
  height: 64px;
  border: 1px solid #10BBD5;
  border-radius: 50%;
  background: #10BBD5;

  &:hover{
    transform: rotate(20deg);
  }
}