.footer__wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 52px;
  background: #4C394E;
  height: 88px;
  margin-top: 120px;
  box-sizing: border-box;
}
.footer__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1296px;
}
.footer__content--text{
  color: #F8FDFE;
  font-size: 16px;
  font-weight: 400;
}