.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__section {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}
/* header__section 1*/
.header__wrapper-1{
  justify-content: center;
  align-items: center;
  height: 72px;
  padding: 16px 52px;
  background: #10BBD5;
}
.header__menu-1-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing:border-box;
  width: 1296px;
}
.header__logo{
  display: flex;
  align-items: center;
  gap: 4px;
}
.header__logo-book{
  width: 26px;
  height: 28px;
}
.header__p-logo{
  color: #F8FDFE;
  font-size: 24px;
  font-weight: 700;
}
.header__total{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
}
.header__menu-price{
  display: flex;
  align-items: center;
  color: #F8FDFE;
  font-size: 16px;;
  font-weight: 400;
}
.header__basket-img{
  position: relative;
  padding: 3px;
  box-sizing: border-box;
}
.header__basket-count{
  position: absolute;
  top: 13px;
  left: 22px;
  color: #000;
  font-size: 12px;
  font-weight: 400;
}
/*header__section 2*/
.header__wrapper-2{
  justify-content: center;
  align-items: center;
  padding: 4px 52px;
  background: #FFF;
  height: 32px;
}
.header__menu-2-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1296px;
}
.header__nav-text{
  color: #000;
  font-size: 16px;
  font-weight: 400;
}
.header__nav-menu{
  & ul{
    display: flex;
    justify-content: space-between;
    align-content: center;
    box-sizing: border-box;
    gap: 40px;
    color: #000000;
  }
}