@import "./base/default";
@import "./components/button";
@import "./layout/header";
@import "./layout/footer";

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main__title{
  width: 1296px;
}
.main__title-content{
  margin-top: 32px;
  padding-bottom: 23px;
  margin-bottom: 24px;
  color: #1F1F1F;
  font-size: 32px;
  font-weight: 600;
  border-bottom: 1px solid #A8A8A8;
}
.main__book-wrapper{
  display: inline-flex;
  max-width: 1296px;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}
.main__book-content{
  display: flex;
  padding: 32px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
  width: 306px;
  height: 512px;
  box-sizing: border-box;
  border: 1px solid #8E8E8E;
  background: #F8FDFE;
}
.main__book-img-box{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}
.main__book-img{
  display: flex;
  width: 178px;
  height: 280px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__book-proposal{
  position: absolute;
  top: 0;
  left: 0;
  display: inline-flex;
  align-items: flex-start;
  gap: 4px;
}
.main__proposal{
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  color: #F8FDFE;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
.hit{
  border: 1px solid #4200FF;
  background: #4200FF;
}
.new{
  border: 1px solid #AF39E7;
  background: #AF39E7;
}
.discount{
  border: 1px solid #EA33C0;
  background: #EA33C0;
}
.main__book-description{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
  width: 242px;
  box-sizing: border-box;
}
.main__book-name{
  color: #1F1F1F;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 242px;
  border-bottom: 1px solid #A8A8A8;
}
.main__book-author{
  color: #8E8E8E;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.main__book-price-box{
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
}
.main__book-price{
  color: #E90000;
  font-size: 24px;
  font-weight: 500;
}
.main__book-full-price{
  color: #8E8E8E;
  font-size: 24px;
  font-weight: 500;
  text-decoration-line: line-through;
}